html
    head 
      link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css", rel="stylesheet")
    body 
      h1 나의 채팅 서비스
      div#chats 채팅 목록
      form#form
        input#input(placeholder="채팅을 입력해 보세요.")
        button#send 보내기

      script(src="/public/client.js") 